body,html {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Roboto', sans-serif;
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
  }
  
  .header {
    text-align: center;
    color: #007bff;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
  }

  .row {
    justify-content: flex-end;
  }

  .btn-info {
    margin-right: 10px;
  }
  
  .taskBg {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    color: #007bff;
    background-color: rgba(5, 250, 238,0.5);
    border: 10px solid #007bff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .done {
    text-decoration: line-through;
    color: #f82509;
  }

  .form-control {
    min-width: 200px;
    margin-bottom: 10px;
  }
  
  .iconsWrap {
    display: flex;
    justify-content: end;
    min-width: 80px;
  }

  .iconsWrap span {
    cursor: pointer;
    margin-left: 10px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }

  .iconsWrap span {
    color: rgb(244, 208, 7) ;
  }
  
  .iconsWrap span:hover {
    color: #ff5e00;
  }

  .taskText {
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    padding: 0 10px;
  }

  .taskNumber {
    font-weight: 900;
    color: #fff;
  }
  
  .loading {
    position: absolute;
    width: 50%; 
    height: 50%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .pagination {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    margin: 0;
  }

  .pagination li {
    padding: 0 10px;
  }

  .paginate {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
  }

  ul {
    position: relative;
  }

  .paginate button {
    height: 50%;
    border: 2px solid #f82509;
    border-radius: 15px;
    color: #fff;
    background-color: #007bff;
  }

.page-link.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
}

  @media (max-width: 768px) {
    .container {
      padding: 0 20px;
    }
  
    .taskBg {
      padding: 15px;
    }
  
    .header {
      font-size: 24px;
    }
  
    .iconsWrap span {
      font-size: 16px;
    }
  }
  
  @media (max-width: 638px) {
    .paginate {
        flex-wrap: wrap;
    }
    .paginate ul {
        width: 100%;
        order: -1;
    }
    .pagination li {
        padding: 0;
      }
    .paginate button {
        flex-grow: 1;
        margin: 10px;
        padding: 10px;
    }
  }